<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>Désolée,il n'y a pas de reporting pour ce date</h3>
  <br><br>
  <button><a href="/accueil1">Veuillez cliquer ici pour retourner au page précédent</a></button>
</body>
</html>