<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Export Nc</h1>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class=" row ">
                    <div  class="">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-xs-2 col-md-2 col-lg-2">
                                            <input type="date" id="calendrier" name="calendrier"  min="2021-01-01" max="2100-12-31" required>
                                            <button type="submit" style="margin-top:-1px"  class="btn btn-info" onclick="ciblage()">Lancer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="data_recherche"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function ciblage(){
           var calendrier = $("#calendrier").val();
                 
           if(calendrier){
               $("#data_recherche").empty();
               $.ajax({
               url : '/compterExcel', // La ressource ciblée
               type : 'GET', // Le type de la requête HTTP.
               data : '&calendrier='+calendrier,
               dataType : 'html', // On désire recevoir du HTML
               success : function(code_html, statut){ // code_html contient le HTML renvoyé
                   $("#data_recherche").append(code_html);
               }
           });
         }  
       }
    
       </script>
    </body>
    
</html>